{% extends 'base.html' %}
{% block head %}
    {% load static %}
    <title>UnitedFlow</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}
{% block content %}
    {% load svg %}
    <div class="logos">
        {% loadsvg 'graphics/svg/end.svg' %}
    </div>
    <p><b>United Flow</b> – це сучасна онлайн-платформа, створена для зручної взаємодії членів групи.
         Вона надає можливість отримувати актуальну інформацію, обговорювати важливі питання, 
         слідкувати за розкладом подій, брати участь в опитуваннях та голосуваннях, а також ділитися матеріалами та проектами.<br>
         Портал забезпечує доступ до актуальних новин, оголошень та подій, дозволяючи користувачам легко орієнтуватися
          у важливих заходах і змінах. Інтуїтивно зрозумілий інтерфейс допомагає швидко знаходити необхідну інформацію, 
          а інтегрована система календаря спрощує планування.
         Кожен зареєстрований учасник отримує власний профіль, який можна налаштовувати відповідно до своїх потреб. На 
         порталі також доступний форум для обговорень, де можна ділитися думками, ставити запитання та брати участь у дискусіях.</p>
    <h1>Переваги сервісу</h1>
    <div class="advantages">
        <div>
            {% loadsvg 'graphics/svg/advantages/convenience.svg' %}
            <p><b>Зручність</b></p>
            <p>Швидкий та простий сервіс для ефективного вирішення завдань без зайвих зусиль або ні, все в одному місці.</p>
        </div>
        <div>
            {% loadsvg 'graphics/svg/advantages/functionality.svg' %}
            <p><b>Функціональність</b></p>
            <p>Дуже функціональний сервіс, навіть занадто.</p>
        </div>
        <div>
            {% loadsvg 'graphics/svg/advantages/interface.svg' %}
            <p><b>Інтерфейс</b></p>
            <p>Дуже гарний і зрозумілий інтерфейс, створений крутими пациками.</p>
        </div>
        <div>
            {% loadsvg 'graphics/svg/advantages/security.svg' %}
            <p><b>Безпека</b></p>
            <p>Вбудовані механізми для захисту даних користувачів, двофакторна аутентифікація, якої насправді тут немає.</p>
        </div>
        <div>
            {% loadsvg 'graphics/svg/advantages/actuality.svg' %}
            <p><b>Актуальність</b></p>
            <p>У час швидких змін потрібні ефективні платформи для групової взаємодії. Наша не є одною із таких.</p>
        </div>
        <div>
            {% loadsvg 'graphics/svg/advantages/diary.svg' %}
            <p><b>Щоденик</b></p>
            <p>Зручний сервіс для відстеження оцінок та навчальних досягнень учнів, яким би він не був...</p>
        </div>
    </div>
{% endblock %}