{% extends 'base.html' %}
{% block head %}
    {% load static %}
    <title>UnitedFlow</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}
{% block content %}
    {% load svg %}
    <div class="logos">
        {% loadsvg 'graphics/svg/end.svg' %}
    </div>
    <p><b>United Flow</b> – це сучасна онлайн-платформа, створена для зручної взаємодії членів групи.
         Вона надає можливість отримувати актуальну інформацію, обговорювати важливі питання, 
         слідкувати за розкладом подій, брати участь в опитуваннях та голосуваннях, а також ділитися матеріалами та проектами.<br>
         Портал забезпечує доступ до актуальних новин, оголошень та подій, дозволяючи користувачам легко орієнтуватися
          у важливих заходах і змінах. Інтуїтивно зрозумілий інтерфейс допомагає швидко знаходити необхідну інформацію, 
          а інтегрована система календаря спрощує планування.
         Кожен зареєстрований учасник отримує власний профіль, який можна налаштовувати відповідно до своїх потреб. На 
         порталі також доступний форум для обговорень, де можна ділитися думками, ставити запитання та брати участь у дискусіях.</p>
    <h1>Переваги сервісу</h1>
    <div class="advantages">
        <div>
            {% loadsvg 'graphics/svg/advantages/convenience.svg' %}
            <p><b>Зручність</b></p>
            <p>Зручний та простий для використання, зрозумілий інтерфейс, все в одному місці.</p>
        </div>
    </div>
{% endblock %}