<table>
    <thead>
        <tr>
            <th>Предмет</th>
            <th>День 1</th>
            <th>День 2</th>
            <th>День 3</th>
            <th>День 4</th>
            <th>День 5</th>
            <th>День 6</th>
            <th>День 7</th>
            <th>Оценка</th>
        </tr>
    </thead>
    <tbody>
        {% for entry in diary_entries %}
            
                <tr>
                    <td>{{ entry.subject.title }}</td>
                    <td>{{ entry.marks.all|get_day_score:1 }}</td>
                    <td>{{ entry.marks.all|get_day_score:2 }}</td>
                    <td>{{ entry.marks.all|get_day_score:3 }}</td>
                    <td>{{ entry.marks.all|get_day_score:4 }}</td>
                    <td>{{ entry.marks.all|get_day_score:5 }}</td>
                    <td>{{ entry.marks.all|get_day_score:6 }}</td>
                    <td>{{ entry.marks.all|get_day_score:7 }}</td>
                    <td>{{ entry.observation }}</td>
                </tr>
                   
        {% endfor %}
    </tbody>
</table>