.logos {
    position: relative;
    width: 100%;
    height: 15vw;
    background: color-mix(in srgb, var(--el-col) 90%, var(--text-col));
    border-radius: 3vw;
    left: 50%;
    transform: translateX(-50%);
}

.logos svg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

p:not(#logo p) {
    font-size: 3vh;
}

h1 {
    font-size: 6vh;
    text-align: center;
}

.advantages {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    /* height: 30vh; */
    background: color-mix(in srgb, var(--el-col) 90%, var(--text-col));
    border-radius: 3vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(3, 30vh);
    gap: 2vh; 
}

.advantages div {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.advantages div svg {
    position: absolute;
    top: 50%;
    left: 0.5vh;
    width: 20vh;
    height: 20vh;
    transform: translateY(-50%);
}

.advantages div p {
    position: relative;
    color: black;
    margin-left: 20vh;

}