* {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text-col);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    background: var(--head-col);
    width: 100%;
    height: 13vh;
    z-index: 999;
}

body {
    background: var(--bg-col);
}

#blur {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: rgba(128, 128, 128, 0.564);
    transition: .3s;
    opacity: 0;
}

header:has(#menu input:checked) #blur {
    opacity: 1;
}

#logo {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 85%;
    top: 50%;
    transform: translateY(-50%);
    left: 3vh;
    gap: 2vh;
    font-size: 4.5vh;
    font-weight: bold;
    cursor: pointer;
}

#logo:hover div {
    border-radius: 10%;
}

#logo div {
    position: relative;
    display: inline-block;
    height: 100%;
    aspect-ratio: 1/1;
    background: var(--el-col);
    border-radius: 100%;
    transition: .3s;
}

#logo div svg {
    position: absolute;
    width: 100%;
    height: 100%;
    scale: 0.8;
}

#logo p {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0;
}

search {
    position: absolute;
    top: 50%;
    left: 45vh;
    transform: translateY(-50%);
    width: 6vh;
    height: 6vh;
    overflow: hidden;
    border-radius: 6vh;
    transition: .3s;
}

search * {
    font-family: "Icons", Arial, Helvetica, sans-serif;
}

search:has(input:focus, input:not(:placeholder-shown)) {
    border-radius: 0.5vh;
    width: 52vh;
}

search input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;    
    border: none;
    outline: none !important;
    cursor: pointer;
    background: var(--el-col);
    border: none;
    font-size: 3vh;
    max-width: 40vh;
}

search input::-webkit-search-cancel-button {
    display: none;
}

search :is(input:focus, input:not(:placeholder-shown)) {
    cursor: text;
}

search input::placeholder {
    position: absolute;
    color: color-mix(in srgb, black 70%, var(--el-col));
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .2s transform;
}

search input:hover::placeholder {
    transform: translate(-50%, calc(-50% - 0.5vh));
}

search :is(input:focus, input:not(:placeholder-shown))::placeholder {
    transform: translate(0, -50%);
    left: 0;
}

search button {
    position: absolute;
    top: 0;
    right: 0;
    width: 6vh;
    height: 6vh;
    border: none;
    opacity: 0;
    pointer-events: none;
    background: color-mix(in srgb, var(--el-col), rgb(73, 73, 73) var(--mix-percentage));
    font-size: 3vh;
    transition: .2s;
    cursor: pointer;
}

search:has(input:focus, input:not(:placeholder-shown)) button {
    pointer-events: all;
    opacity: 1;
}

search:has(input:focus, input:not(:placeholder-shown)) #clear {
    right: 6vh;
}

search button:hover {
    background: color-mix(in srgb, var(--el-col), black var(--mix-percentage));
}

#menu, #theme, #user {
    position: absolute;
    height: 8vh;
    width: 8vh;
    top: 50%;
    right: 3vh;
    transform: translateY(-50%) scale(1);
    cursor: pointer;
    transition: .2s;
}

#menu {
    z-index: 10001;
}

#menu:hover {
    transform: translateY(-50%) scale(1.1);
}

:is(#menu, #theme) svg {
    position: absolute;
    width: 100%;
    height: 100%;
}

#theme {
    right: 23vh;
    transform: translateY(-50%) scale(0.8);
    transition: .2s;
}

#theme:hover {
    transform: translateY(-50%) scale(1);
}

#user {
    right: 13vh;
    background: rgba(255, 255, 255, 0.36);
    border-radius: 100%;
    overflow: hidden;
}

#user div {
    position: absolute;
    font-family: "Icons", Arial, Helvetica, sans-serif;
    top: 50%;
    left: 50%;
    background: var(--bg-col);
    transform: translate(-50%, -50%) scale(1);
    width: 100%;
    height: 100%;
    font-size: 7.5vh;
    text-align: center;
    border-radius: 100%;
    transition: .2s;
    overflow: hidden;

}

#user:has(input:focus) div {
    transform: translate(-50%, -50%) scale(0.8);
}

#user:hover {
    transform: translateY(-50%) scale(1.1);
}

#user input, #menu input {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    margin: 0;
    appearance: none;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 1;
    cursor: pointer;
}

:is(#theme, #menu) svg path[stroke-linecap="round"] {
    stroke: var(--text-col);
}

:is(#theme, #menu) svg path {
    fill: var(--text-col);
}

#side {
    position: fixed;
    display: block;
    top: 0;
    right: -50vh;
    height: 100%;
    width: 50vh;
    background: var(--head-col);
    z-index: 10000;
    transition: .6s;
}

header:has(#menu input:checked) #side {
    right: 0;
}

.logo {
    position: absolute;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 13vh;
}

.logo div svg {
    position: absolute;
    top: 0;
    scale: 1.05;
}

.logo div {
    position: relative;
    height: 8vh;
    width: 8vh;
    margin-left: 1vh;
    background: var(--el-col);
    border-radius: 100%;

}

.logo p {
    position: relative;
    margin-left: 1vh;
    font-size: 4vh;
}

.items {
    position: absolute;
    top: 13vh;
    width: 100%;
    height: calc(100% - 13vh);
}

.items details summary, .items div p.summary{
    position: relative;
    list-style-type: none;
    height: 6vh;
    border-radius: 1vh;
    cursor: pointer;
    background: var(--head-col);
    width: 100%;
    display: inline-flex;
    align-items: center;
    font-family: "Icons", Arial, Helvetica, sans-serif;
    transition: .4s;
}

.items details summary::after {
    content: "\e003";
    position: absolute;
    display: inline-block;
    top: 50%;
    transform: translateY(-50%) rotate(90deg);
    right: 2vh;
    font-family: "Icons", Arial, Helvetica, sans-serif;
    pointer-events: none;
    transition: .3s;
}

.items details[open] summary::after {
    transform: translateY(-50%) rotate(-90deg);
}

.items :is(details, div) {
    position: relative;
    width: calc(100% - 1vh);
    max-height: 12vh;
    height: 6vh;
    font-size: 3vh;
    margin: 0.5vh;
    transition: .2s;
    overflow: hidden;
}

details[open] {
    height: 15vh;
}

.items :is(details:hover, details[open], div:hover) :is(summary, .summary) {
    background: color-mix(in srgb, var(--head-col) 80%, white);
}

main {
    position: relative;
    margin-top: 14vh;
}